// Neutrals colors
$black: #000000;
$white: #FFFFFF;

// Primary color
$primary: #FFFF00;

// Secondary color
$secondary: #2A75BB;

// Pokemon Type colors
$grass: #78C850;
$fire: #F08030;
$water: #6890F0;
$bug: #A8B820;
$normal: #A8A878;
$poison: #A040A0;
$electric: #F8D030;
$ground: #E0C068;
$fairy: #EE99AC;
$fighting: #C03028;
$psychic: #F85888;
$rock: #B8A038;
$ghost: #705898;
$ice: #98D8D8;
$dragon: #7038F8;

// Shadows
$shadow-normal: rgba(136, 153, 166, 0.5) 0 0 15px,
  rgba(136, 153, 166, 0.15) 0 0 3px 1px;
$shadow-raised: rgba(136, 153, 166, 0.5) 0 0 15px,
  rgba(136, 153, 166, 0.15) 0 0 3px 1px;